:root {
	--fg: #ff0077;
	--bg: #4b009f;
}

body {
	color: var(--fg);
	min-width: 225px;
	background-color: var(--bg);
	font-family: 'Space Mono', monospace;
}

#countdisplay {
	width: 100%;
/*	border: 3px dashed var(--palette-gx_no_59); */
	border-collapse: collapse;
}

thead > tr, .final-row {
/*	border-left: 3px dashed var(--palette-gx_no_40);*/
	font-weight: bold;
	background-color: hsl(from var(--bg) h s 32);
	border-bottom: 3px dashed var(--fg);
	border-top: 3px dashed var(--fg);
}

a {
	color: #f07;
/*	background-color: #deadff;*/
}

.center {
	text-align: center;
}